<footer class="footer">
    <h4 class="footer_title">Welcome, Sir...</h4>
    <p class="head_foot_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officiis quis nobis
        obcaecati amet sed unde delectus saepe modi ipsam!</p>
    <div class="icons">
        <i class="ri-facebook-fill" id="icon_footer"></i>
        <i class="ri-twitter-x-fill" id="icon_footer"></i>
        <i class="ri-instagram-fill" id="icon_footer"></i>
        <i class="ri-linkedin-fill" id="icon_footer"></i>
        <i class="ri-youtube-fill" id="icon_footer"></i>
    </div>
</footer>