<header class="header">
    <nav>
        <a href="teacher_page.php"><img src="../Images/logo.png" alt="HSMS"></a>
        <div class="nav-links" id="navLinks">
            <i class="ri-close-circle-fill" id="close" onclick="hideMenu()"></i>
            <ul>
                <li><a href="teacher_page.php">Profile</a></li>
                <li><a href="teacher_attendence.php">Attendance</a></li>
                <li><a href="teacher_assignment.php">Assignment</a></li>
                <li><a href="teacher_notice.php">Notice</a></li>
                <li><a href="teacher_admit.php">Admit</a></li>
                <li><a href="../login.php">LOG OUT</a></li>
            </ul>
        </div>
        <i class="ri-menu-line" id="menu" onclick="showMenu()"></i>
    </nav>
</header>
<!-- =========== javascript for toogle menu ======= -->
<script>
    var navLinks = document.getElementById("navLinks");
    var close = document.getElementById("close");
    var menu = document.getElementById("menu");

    function showMenu() {
        navLinks.style.right = "0"
        menu.style.color = "transparent"
    }
    function hideMenu() {
        navLinks.style.right = "-170px"
        menu.style.color = "#fff"
    }
</script>